*{
  
    margin: 10px;
    padding: 10px ;
    box-sizing: content-box;
  
}a{
    text-decoration: none;
} body{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
    .head{
    background: url(images/header.jpg);
    background-position: center;
    background-attachment: contain;
    margin-top: 20px;
    display: flex;
    flex-flow: column nowrap;
   
         }.menu{
        
          display: flex;
          flex-grow: row nowrap;
          
          justify-content: center;
          align-items: center;
          
                 }
                 .logo{
                   
                    align-items: center;
                    flex-shrink: 0;
             flex: 1 1 auto;
                 }.logo img{
                    width: 100px;
                  
                    vertical-align: top;
 
                 }
                 .nav{
             
             flex: 5 1 auto;
             align-items: center;
             justify-content: center;
             
                 }.nav a{
                    color: #ff5d12;
                    margin: 5px;
                 }.nav a:hover{
                    color: #2e54d1;
                 }
                  a i {
                    margin-right: -2px;
                  }
                  
                  a span {
                    padding-left: 5px;
                  }
                 .social{
         
             flex: 1 1 auto;
             display: flex;
             
                 }
         .texto-principal{
         background: rgba(0, 0, 0, 0.12);
         text-align: center;
         bottom: 50%;
        /* width: 1079px;
         */
                 }h1{
             opacity: 50%;
             color: #ff5d12;
                 }
    .seccion{
        background: #000;
       margin-bottom: 20px;
        display: flex;
        }.articulos{
            background: #146C94;
            flex: 2 1 auto;
            display: flex;
            flex-flow: row wrap;
             }.article{
                 background: #F5E9CF;
                 flex: 1 1 44%;
             }.navegacion{
                background: #F6F1F1;
                flex: 1 1 100%;
             }
     .aside{
        background: #FF0303;
        flex: 1 1 auto;
        }.publi{
            background: #F2F7A1;
        }
.foo{
    background: #000;
}.pie{
    background: #C147E9;
}