/*For Tablets*/
@media screen and (min-width: 480px) and (max-width: 778px) {
  .seccion {
      background: yellow;
      display: flex;
      flex-direction: column;
    }  body {
      background-color: lightblue;
    }
}
/*For mobiles*/
@media screen  and (min-width: 120px) and (max-width: 480px){
  body {
      background-color: turquoise;
    }
  .menu{
      background: #C147E9;
      display: flex;
     flex-direction: column;
      
   
  }.seccion{
      background: greenyellow;
      display: flex;
    flex-direction: column;
  }
   .logo, .social, .nav{
      
      width: 90%;
  }
 
}
