/*For Tablets*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .seccion {
        background: yellow;
        display: flex;
        flex-direction: column;
      }  body {
        background-color: lightblue;
      }
}@media screen and (min-width: 481px) and (max-width: 768px){
  .seccion {
    background: yellow;
    display: flex;
    flex-direction: column;
  }  body {
    background-color: lightblue;
  }

}
/*For mobiles*/
@media screen  and (min-width: 320px) and (max-width: 480px){
    body {
        background-color: turquoise;
      }
    .menu{
        background: #C147E9;
        display: flex;
       flex-direction: column;
        
     
    }.seccion{
        background: greenyellow;
        display: flex;
    flex-direction: column;
    }
     .logo, .social, .nav{
        
        width: 90%;
    }
   
}
