*{
  
    margin: 10px;
    padding: 10px ;
    box-sizing: content-box;
  
}body{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  
}
    .head{
    background: url(../images/header.jpg);
    background-position: center;
    background-attachment: contain;
    background-size: cover;
    margin-top: 20px;
    display: flex;
    flex-flow: column nowrap;
   
         }.menu{
          background: #454545;
          display: flex;
          flex-grow: row nowrap;
       
          align-items: center;
          justify-content: center;
          
                 }.logo{
             background: #ea5455;
             flex: 1 1 auto;
                 }.logo a{
                    background-image: url('images/logo.png');
                   width: 10px; 
                 }
                 .nav{
             background: #ea5455 ;
             flex: 5 1 auto;
             
             
                 }.nav a{
                    align-items: center;
                    position: center;
                 }.social{
             background: #ea5455;
             flex: 1 1 auto;
             
                 }.social a {
                    flex-direction: column;

                 }
         .texto-principal{
         background: #FFA559;
        /* width: 1079px;
         */
                 }h1{
             background: #FFD93D;
                 }
    .seccion{
        background: #000;
       margin-bottom: 20px;
        display: flex;
        }.articulos{
            background: #146C94;
            flex: 2 1 auto;
            display: flex;
            flex-flow: row wrap;
             }.article{
                 background: #F5E9CF;
                 flex: 1 1 44%;
             }.navegacion{
                background: #F6F1F1;
                flex: 1 1 100%;
             }
     .aside{
        background: #FF0303;
        flex: 1 1 auto;
        }.publi{
            background: #F2F7A1;
        }
.foo{
    background: #000;
}.pie{
    background: #C147E9;
}